.Toggler {
text-align: right;
display: inline-block;
margin-right: 1em;
margin-top: 1em;
cursor: pointer;
}


.Hamburger {
display: flex;
}

.Open {
flex-direction: column;
}

.Hamburger > div {
height: 8px;
width: 8px;
background: white;
border-radius: 50%;
margin: .2em;


}